/* aboutUs.css */
.about-container {
  margin-top: 40px;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #007bff;
}

.info-card {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-image {
  width: 200px;  /* Set a fixed width for square images */
  height: 180px; /* Set a fixed height for square images */
  margin-right: 20px;
}

.info-text {
  flex: 1;
}

.info-card h3 {
  color: #007bff;
  margin-bottom: 10px;
}

.info-card p {
  color: #495057;
}
