.App {
  text-align: center;
  padding-bottom: 50px; /* Add bottom padding to accommodate the footer */
  position: relative; /* Needed for footer positioning */
  background-image: url('./pattern3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; /* Ensure the div takes up at least the height of the viewport */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navbar-custom {
  background-color: #343a40; /* Dark gray color */
}

.nav-link-custom {
  color: #ffffff !important; /* White text color for better contrast */
}

.App-header {
  background-color: #343a40;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #343a40;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
